nodered-microscope.json
[
    {
        "id": "3843db9538bbcc7b",
        "type": "tab",
        "label": "Serena to Microscope",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9487fc2f05443487",
        "type": "mqtt in",
        "z": "3843db9538bbcc7b",
        "name": "MQTT serena/phrase/microscope",
        "topic": "serena/phrase/microscope",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "83dd4bfdfcdd0f24",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "ba304805075ad1d2"
            ]
        ]
    },
    {
        "id": "ba304805075ad1d2",
        "type": "switch",
        "z": "3843db9538bbcc7b",
        "name": "Branch on phrase",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "microscope north",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "microscope south",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "microscope east",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "microscope west",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "3cc7e9cbe719a714"
            ],
            [
                "0d4aeb34efa25961"
            ],
            [
                "83db7e8501d4b513"
            ],
            [
                "d3f389f3ad350a80"
            ]
        ]
    },
    {
        "id": "3cc7e9cbe719a714",
        "type": "change",
        "z": "3843db9538bbcc7b",
        "name": "microscope north",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "G91G0Y10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 60,
        "wires": [
            [
                "3fa13c805277e3c6"
            ]
        ]
    },
    {
        "id": "0d4aeb34efa25961",
        "type": "change",
        "z": "3843db9538bbcc7b",
        "name": "microscope south",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "G91G0Y-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "3fa13c805277e3c6"
            ]
        ]
    },
    {
        "id": "83db7e8501d4b513",
        "type": "change",
        "z": "3843db9538bbcc7b",
        "name": "microscope east",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "G91G0X-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 140,
        "wires": [
            [
                "3fa13c805277e3c6"
            ]
        ]
    },
    {
        "id": "d3f389f3ad350a80",
        "type": "change",
        "z": "3843db9538bbcc7b",
        "name": "microscope west",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "G91G0X-10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "3fa13c805277e3c6"
            ]
        ]
    },
    {
        "id": "b2f39e083a9fa258",
        "type": "tcp out",
        "z": "3843db9538bbcc7b",
        "name": "Telnet connection to microscope.local",
        "host": "microscope.local",
        "port": "23",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 1170,
        "y": 180,
        "wires": []
    },
    {
        "id": "3fa13c805277e3c6",
        "type": "change",
        "z": "3843db9538bbcc7b",
        "name": "Add a newline",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload & \"\\n\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 180,
        "wires": [
            [
                "b2f39e083a9fa258"
            ]
        ]
    },
    {
        "id": "83dd4bfdfcdd0f24",
        "type": "mqtt-broker",
        "name": "HomeAssistant MQTT",
        "broker": "wunch.local",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]